# App
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=sprint_ecommerce

# JWT
JWT_SECRET=your_secret_here
JWT_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# MercadoPago
MP_ACCESS_TOKEN=
MP_WEBHOOK_SECRET=

# Frontend URL (CORS)
FRONTEND_URL=http://localhost:3001

# Backend URL
BACKEND_URL=http://localhost:3000

# Nodemailer
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM=